<nb-layout class="overlay">
    <nb-layout-column>
   <mat-sidenav-container fullscreen >
        <mat-sidenav #sidenav [mode]="mode.value" style="width:250px;">
            <img src="../../assets/logo.png" style="width:280px;height:100px"> 
            <app-sidemenu></app-sidemenu>  
     </mat-sidenav>
        <mat-sidenav-content style="z-index: unset;overflow: hidden;">
            <mat-drawer-container fullscreen>
                <mat-drawer-content style="overflow: hidden;">
                    <app-toolbar [sidenav]="sidenav"  [sidebar]="sidenav2" [matDrawerShow]="matDrawerShow" style="z-index: 500"></app-toolbar>
                    <perfect-scrollbar  style="padding:30px 30px; background-color:#fff; height: calc(100% - 70px); " >
                        <router-outlet></router-outlet>
                        </perfect-scrollbar>
                </mat-drawer-content>
            </mat-drawer-container>
        </mat-sidenav-content>
    
        <mat-sidenav   #sidenav2 position="end" >
            <app-toolbar></app-toolbar>
        </mat-sidenav>
      </mat-sidenav-container>
    </nb-layout-column>
</nb-layout> 