<h1>Gestion des séances d'entraînement </h1>
<p-toast ></p-toast>
<nb-card *ngIf="selectedTraining!= undefined">
    <nb-card-header>Détails d'un entrainement</nb-card-header>
    <nb-card-body class="example-items-col">
        </nb-card-body>
        <p>Référence : {{selectedTraining.reference}}</p>
       <p> Utilisateur :{{selectedTraining.idCompte}}</p>
       <p>Exercice : {{selectedTraining.idExercice}}</p>
       <p> Date de début :{{selectedTraining.startTime}}</p>
       <p> Date de fin : {{selectedTraining.endTime}}</p>
       <p> Temps d'entrainement :{{selectedTraining.duration}}</p>
       <p> Avis :{{selectedTraining.opinion}}</p>
</nb-card>
<nb-card>
    <nb-card-header>Liste des Entrainements</nb-card-header>
    <nb-card-body class="example-items-col">
      <p-table #dt [value]="trainings"  dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
      [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
      [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [filterDelay]="0" [globalFilterFields]="['reference','idCompte','idExercice']">
      <ng-template pTemplate="caption">
          <div class="table-header">
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Recherche globale" />
              </span>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
            
            <th pSortableColumn="idUser"><p-sortIcon field="idCompte"></p-sortIcon>Utilisateur</th>
            <th pSortableColumn="idExercice"><p-sortIcon field="idExercice"></p-sortIcon>Exercice</th>
            <th pSortableColumn="refrence"><p-sortIcon field="refrence"></p-sortIcon>Référence</th>
        </tr>
          <tr> 
              <th> <input pInputText type="text" (input)="dt.filter($event.target.value, 'references', 'contains')" placeholder="Recherche par utilisateur" class="p-column-filter"></th>
              <th><input pInputText type="text" (input)="dt.filter($event.target.value, 'idCompte', 'contains')" placeholder="Recherche par exercice" class="p-column-filter"></th>
              <th><input pInputText type="text" (input)="dt.filter($event.target.value, 'idCompte', 'contains')" placeholder="Recherche par référence" class="p-column-filter"></th>
    
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
          <tr class="p-selectable-row" (click)="trainingDetails(data)">
              <td>
                    {{data.reference}}
                </td>
             <td>
                {{data.idCompte}}
            </td>
            <td>
                {{data.idExercice}}
            </td>
          </tr>
      </ng-template>
  </p-table>
    </nb-card-body>
    </nb-card>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
