<h1>Evaluation des vidéo de challenge </h1>
<p-toast ></p-toast>
<nb-card *ngIf="selectedVideochallenge != undefined">
    <nb-card-header>Détails d'un vidéo de challenge</nb-card-header>
    <nb-card-body class="example-items-col">
    <p> 
       Utilisateur : {{data.idCompte}}
    </p>
    <p>  
        Séance :{{data.idSeance}}
    </p>
    <p>
        Titre vidéo : {{data.title}}
    </p>
    <p>
        Vidéo : {{data.path}}
    </p>
    <p *ngIf="data.note">
          
      Note :  {{data.note}}
    </p>
    <p >
          
     Badge :   {{data.idBadge}}
    </p>
    <p>
          
       Avis : {{data.opinion}}
    </p>
</nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body class="example-items-col">
      <p-table #dt [value]="videochallenges"  dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
      [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
      [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [filterDelay]="0" [globalFilterFields]="['idCompte,idSeance,IdBadge,path,note']">
      <ng-template pTemplate="caption">
          <div class="table-header">
              Liste des vidéos<br>
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Recherche globale" />
              </span>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th pSortableColumn="idCompte">Utilisateur<p-sortIcon field="idCompte"></p-sortIcon></th>
              <th>Séance</th>
              <th>Titre vidéo</th>
              <th>Vidéo</th>
              <th style="width: 8rem">Actions</th>
          </tr>
          <tr> 
              <th>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'fullname', 'contains')" placeholder="Recherche par nom" class="p-column-filter">
              </th>
              <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'contains')" placeholder="Recherche par séance" class="p-column-filter">
            </th>
              
              <th><input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'contains')" placeholder="Recherche par vidéo" class="p-column-filter"></th>
              <th>
      
            </th>
            <th></th>
            
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr class="p-selectable-row" >
        
            <td> 
                {{data.idCompte}}
            </td>
            <td>  
                {{data.idSeance}}
            </td>
            <td>  
                {{data.title}}
            </td>
            <td>
                  
                {{data.path}}
            </td>
           
              <td style="text-align: center">
                  <button (click)="selectVideoChallenge(data)" pButton type="button"  icon="pi pi-cog"></button>&nbsp;
              </td>
          </tr>
      </ng-template>
  </p-table>
    </nb-card-body>
    </nb-card>
    <p-dialog [(visible)]="dataDialog" [style]="{width: '450px'}" header="Catégorie Détails" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="p-field">
                <label >Badge</label>
                <p-dropdown [options]="badges" [(ngModel)]="videochallenge.idBadge" optionLabel="title" [filter]="true" placeholder="choisir un badge"></p-dropdown>
                <small class="p-invalid" *ngIf="submitted && !videochallenge.name">Badge est obligatoire</small>
                <label >Note</label>
                <p-inputNumber [(ngModel)]="videochallenge.note" mode="decimal" [minFractionDigits]="2"></p-inputNumber>
                <small class="p-invalid" *ngIf="submitted && !videochallenge.note">Note est obligatoire</small>
                <label>Avis</label>
                <textarea pInputTextarea [(ngModel)]="videochallenge.opinion" required></textarea>
                <small class="p-invalid" *ngIf="submitted && !videochallenge.opinion">Opinion est obligatoire</small>
            </div>
        </ng-template>
        
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSubmit()"></button>
        </ng-template>
        </p-dialog>
      <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
